.header__nav{
    padding: 43px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
    list-style-type: none;
}
.header__item{
    margin-left: 33px;
}
.header__link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.header__link:hover{
    color:#333D4B;
}

/* ------------- header finish ------------- */

/* ------------- Main / intro section start ------------- */

.intro__list{
    margin-bottom: 136px;
    padding-left: 84px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("../img/Bitmap.png");
    border-radius: 15px;
}
.intro__title{
    font-family: 'Fraunces';
    margin: 0;
    width: 500px;
    /* font-family: "fraunces"; */
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.intro__text{
    margin-top: 32px;
    margin-bottom: 56px;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.intro__link{
    padding: 16px 31px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}
.intro__link:active{
    background-color: #66D2CF;
}

/* ------------- intro section finish ------------- */

/* ------------- product section start ------------- */

.product__fon{
    height: 196px;
    font-weight: 900;
    font-size: 157px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
}
.product__fon--box{
    position: relative;
    margin: 0 auto;
    transform: translateY(-190px);
    margin-top: -100px;
    width: 1111px;
    height: 196px;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    
}
.product__menu{
    margin-top: -250px;
    position: relative;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.product__item{
    margin-right: 30px;
    width: 255px;
}
.product__item:last-child{
    margin-right: none;
}
.product__title{
    margin-top: 71px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.product__text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* ------------- product section finish ------------- */

/* ------------- choose section start ------------- */


.choose__wrapper{
    height: 577px;
    margin-top: 184px;
    padding: 100px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333d4b;
    background-size: 80%;
}
.choose__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}
.choose__text{
    width: 540px;
    margin-top: 32px;
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.choose__menu{
    margin-top: -240px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.choose__item{
    margin-right: 30px;
    text-align: center;
    padding: 72px 48px 48px 48px;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;
}
.choose__item:nth-child(3n){
    margin-right: 0;
}
.choose__menu--title{
    margin-top: 56px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}
.choose__menu--text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* ------------- choose section finish ------------- */

/* ------------- plan section start ------------- */
.plan__list{
    margin: 0 auto;
    margin-top: 216px;
    width: 1045px;
}
.plan__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.plan__line{
    margin-top: 95px;
    margin-bottom: 82.5px;
    width: 760px;
    height: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD6BA;
}
.plan__line--circle{
    padding: 15.5px;
    display: block;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius:50%;
}
.plan__menu{
    margin-bottom: 64px;
    display: flex;
    list-style-type: none;
}
.plan__item{
    margin-right: 95px;
    width: 285px;
}
.plan__item:last-child{
    margin-right: 0;
}
.plan__item--nomber{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.plan__item--title{
    width: 255px;
    margin-top: 32px;
    margin-bottom: 42px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.plan__item--text{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.plan__link{
    padding: 15px 31px;
    font-family: "fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}
.plan__link:hover{
    background-color: #66D2CF;
}

/* ------------- plan section start ------------- */

/* ------------- footer section start ------------- */
.footer__nav{
    margin-top: 200px;
    padding: 47px 133px 47px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2C343E;
}
.footer__box{
    width: 622px;
    display: flex;
    justify-content: space-between;
}
.footer_menu{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.footer__item{
    margin-left: 32px;
}
.footer__link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__link:hover{
    color: #FEFCF7;
}
.footer__list{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.footer__list--link:hover .footer__list--hover{
    display: block;
}
.footer__list--hover{
    position: absolute;
    transform: translateY(-28px);
    width: 24px;
    height: 24px;
    display: none;
    background-color: rgba(253, 214, 186, 0.4);
    border-radius: 7px;
}