.header__nav{
    padding: 43px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
    list-style-type: none;
}
.header__item{
    margin-left: 33px;
}
.header__link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.header__link:hover{
    color:#333D4B;
}
@media screen and (max-width: 689px) {
    .header__nav{
        width: 689px;
    }
}
.check{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.header__button{
    display: none;
}
@media screen and (max-width: 327px) {
    .header__nav{
        width: 327px;
    }
    .header__pic{
        width: 163px;
        height: 18px;
    }
    #check:checked ~ .header__menu{
        display: block;
    }
    .header__menu{
        position: absolute;
        right: 0;
        top: 112px;
        text-align: right;
        background-color: rgb(255, 255, 255);
        display: none;
    }
    .header__button{
        color: #fff;
        display: block;
        background-color: transparent;
        border: transparent;
    }
}
/* ------------- header finish ------------- */

/* ------------- Main / intro section start ------------- */

.intro__list{
    margin-bottom: 136px;
    padding-left: 84px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url("../img/Bitmap.png");
    border-radius: 15px;
}
.intro__title{
    font-family: 'Fraunces';
    margin: 0;
    width: 500px;
    /* font-family: "fraunces"; */
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.intro__text{
    margin-top: 32px;
    margin-bottom: 56px;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.intro__link{
    padding: 16px 31px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}
.intro__link:active{
    background-color: #66D2CF;
}
@media screen and (max-width: 689px) {
    .intro__list{
        width: 689px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
@media screen and (max-width: 327px) {
    .intro__list{
        padding-left: 0;
        align-items:center;
        width: 327px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -558px;
    }
    .intro__title{
        width: 279px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .intro__text{
        width: 279px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
}

/* ------------- intro section finish ------------- */

/* ------------- product section start ------------- */
.product__fon{
    height: 196px;
    font-weight: 900;
    font-size: 157px;
    line-height: 72px;
    text-align: center;
    color: #83888F;
}
.product__fon--box{
    position: relative;
    margin: 0 auto;
    transform: translateY(-190px);
    margin-top: -100px;
    width: 1111px;
    height: 196px;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}
.product__menu{
    margin-top: -250px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.product__item{
    margin-right: 30px;
    width: 255px;
}
.product__item:last-child{
    margin-right: none;
}
.product__title{
    margin-top: 71px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}
.product__text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}
@media screen and (max-width: 689px) {
    .product{
        &__fon{
            width: 689px;
            font-size: 95px;
            &--box{
                width: 689px;
                transform: translateY(-215px);
            }
        }
        &__menu{
            transform: translateY(-10px);
        }
        &__item{
            margin-right: 0;
            margin-bottom: 32px;
            width: 573px;
            display: flex;
            align-items: center;
            &--box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        &__title{
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 327px) {
    .product{
        &__walpaper{
            margin-right: 0;
            width: 327px;
            height: 50px;
        }
        &__fon{
            width: 327px;
            height: 50px;
            font-size: 40px;
            &--box{
                width: 327px;
                height: 50px;
                margin: 0;
                transform: translateY(-49px);
                position: absolute;
            }
        }
        &__menu{
            width: 327px;
            margin-top: 13px;
            transform: translateY(0px);
        }
        &__item{
            margin-right: 0;
            margin-bottom: 32px;
            width: 327px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &--box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        &__pic{
            width: 200px;
            height: 150px;
        }
        &__title{
            margin-top: 24px;
            margin-bottom: 16px;
        }
        &__text{
            width: 282px;
        }
    }
}
/* ------------- product section finish ------------- */

/* ------------- choose section start ------------- */
.choose__wrapper{
    height: 577px;
    margin-top: 184px;
    padding: 100px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333d4b;
    background-size: 80%;
    border-radius: 15px;
}
.choose__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}
.choose__text{
    width: 540px;
    margin-top: 32px;
    margin-bottom: 86px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.choose__menu{
    margin-top: -240px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.choose__item{
    margin-right: 30px;
    text-align: center;
    padding: 72px 48px 48px 48px;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;
}
.choose__item:nth-child(3n){
    margin-right: 0;
}
.choose__menu--title{
    margin-top: 56px;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}
.choose__menu--text{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}
@media screen and (max-width: 689px) {
    .choose{
        &__list{
            width: 689px;
            margin: 0 auto;
        }
        &__wrapper{
            margin-top: 144px;
            padding: 56px 74px;
        }
        &__title{
            font-style: 32px;
        }
        &__text{
            font-style: 15px;
            line-height: 25px;
        }
        &__menu{
            margin-top: -305px;
            flex-direction: column;
            align-items: center;
            &--title{
                margin-top: 0;
                margin-bottom: 16px;
                text-align: left;
            }
            &--text{
                text-align: left;
            }
        }
        &__item{
            margin-right: 0;
            margin-bottom: 24px;
            width: 573px;
            display: flex;
            align-items: center;
            padding: 41px 48px 41px 70px;
            &:last-child{
                margin-bottom: 0;
            }
            &--box{
                display: flex;
                flex-direction: column;
                justify-content: left;
            }
        }
        &__pic{
            width: 56px;
            height: 56px;
            margin-right: 55px;
        }
    }
}
@media screen and (max-width: 327px) {
    .choose{
        &__list{
            width: 327px;
            margin: 0 auto;
        }
        &__wrapper{
            margin-top: 144px;
            padding: 56px 74px;
        }
        &__title{
            width: 279px;
            font-size: 28px;
            line-height: 28px;
        }
        &__text{
            width: 279px;
            font-size: 15px;
            line-height: 25px;
        }
        &__menu{
            margin-top: -305px;
            flex-direction: column;
            align-items: center;
            &--title{
                margin-top: 56px;
                margin-bottom: 24px;
                text-align: center;
            }
            &--text{
                width: 212px;
                text-align: center;
            }
        }
        &__item{
            margin-right: 0;
            margin-bottom: 24px;
            width: 279px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 72px 12px 51px 12px;
            &:last-child{
                margin-bottom: 0;
            }
            &--box{
                display: flex;
                flex-direction: column;
                justify-content: left;
            }
        }
        &__pic{
            width: 56px;
            height: 56px;
            margin-right: 0;
        }
    }
}
/* ------------- choose section finish ------------- */

/* ------------- plan section start ------------- */
.plan__list{
    margin: 0 auto;
    margin-top: 216px;
    width: 1045px;
}
.plan__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.plan__line{
    margin-top: 95px;
    margin-bottom: 82.5px;
    width: 760px;
    height: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD6BA;
}
.plan__line--circle{
    padding: 15.5px;
    display: block;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius:50%;
}
.plan__menu{
    margin-bottom: 64px;
    display: flex;
    list-style-type: none;
}
.plan__item{
    margin-right: 95px;
    width: 285px;
}
.plan__item:last-child{
    margin-right: 0;
}
.plan__item--nomber{
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.plan__item--title{
    width: 255px;
    margin-top: 32px;
    margin-bottom: 42px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.plan__item--text{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.plan__link{
    padding: 15px 31px;
    font-family: "fraunces";
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
}
.plan__link:hover{
    background-color: #66D2CF;
}
@media screen and (max-width: 689px) {
    .plan{
        &__list{
            width: 689px;
            display: flex;
            flex-direction: column;
        }
        &__line{
            width: 479px;
            &--circle{
                padding: 13px;
            }
        }
        &__item{
            width: 223px;
            margin-right: 10px;
            &--title{
                margin-top: 42px;
                margin-bottom: 39px;
                width: 223px;
                font-size: 28px;
                line-height: 32px;
            }
            &--text{
                margin-right: 0;
                font-size: 15px;
                line-height: 25px;
            }
        }
        &__link{
            width: 217px;
        }
    }
}
@media screen and (max-width: 327px) {
    .plan{
        &__title{
            text-align: center;
        }
        &__list{
            margin-top: 120px;
            width: 327px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__line{
            display: none;
        }
        &__menu{
            margin-top: 80px;
            flex-direction: column;
        }
        &__item{
            width: 327px;
            margin-right: 0px;
            margin-bottom: 56px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:last-child{
                margin-bottom: 0;
            }
            &--title{
                text-align: center;
                margin-top: 24px;
                margin-bottom: 24px;
                width: 327px;
                font-size: 28px;
                line-height: 32px;
            }
            &--text{
                margin-right: 0;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
            }
        }
    }
}
/* ------------- plan section start ------------- */

/* ------------- footer section start ------------- */
.footer{
    background-color:#2C343E;
}
.footer__nav{
    margin-top: 200px;
    padding: 47px 133px 47px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2C343E;
}
.footer__box{
    width: 622px;
    display: flex;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.footer__item{
    margin-left: 32px;
}
.footer__link{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}
.footer__link:hover{
    color: #FEFCF7;
}
.footer__list{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.footer__list--link:hover .footer__list--hover{
    display: block;
}
.footer__list--hover{
    position: absolute;
    transform: translateY(-28px);
    width: 24px;
    height: 24px;
    display: none;
    background-color: rgba(253, 214, 186, 0.4);
    border-radius: 7px;
}
@media screen and (max-width: 689px) {
    .footer{
        &__nav{
            margin: 0 auto;
            margin-top: 144px;
            padding: 54px 0;
            width: 283px;
            flex-direction: column;
        }
        &__box{
            width: 283px;
            flex-direction: column;
        }
        &__pic{
            margin-bottom: 32px;
            width: 236px;
            height: 26px;
        }
        &__menu{
            justify-content: space-between;
        }
        &__item{
            margin-left: 0;
        }
        &__link{
            font-family: "barlow";
            font-size: 13px;
        }
        &__list{
            margin-top: 65px;
        }
    }
}
@media screen and (max-width: 327px) {
    .footer{
        &__nav{
            margin: 0 auto;
            margin-top: 120px;
            padding: 54px 0;
            width: 218px;
            flex-direction: column;
        }
        &__box{
            width: 218px;
            flex-direction: column;
        }
        &__pic{
            margin-bottom: 48px;
            width: 217px;
            height: 24px;
        }
        &__menu{
            justify-content: space-between;
            flex-direction: column;
        }
        &__item{
            margin-bottom: 24px;
        }
        &__link{
            font-family: "barlow";
            font-size: 13px;
        }
        &__list{
            margin-top: 48px;
        }
    }
}